#home-carousel {
    height: 100%;
    width: 100%;
    background-color: #eff;
}

.carousel-indicators {
    bottom: calc(5vh - 0.5rem);
    margin-bottom: 0;
    z-index: 1;
}

.carousel-indicators li {
    width: 0.85rem;
    height: 0.85rem;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    background-color: transparent;
}

.carousel-indicators .active {
    background-color: black;
}

.carousel-item {
    height: 100%;
}

.carousel-inner img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    width: 100%;
    height: auto;
}

 /****************    Media Queries    ****************/

@media only screen
and (max-width:991px) {
    .content-block {
        padding-top: 2.5rem;
        padding-bottom: 3rem;
    }
}
