.img-grid-block .col-gap {
    padding: 0.25rem;
}

.img-grid-block .caption {
    font-family: var(--font-2);
    font-size: 2rem;
    padding: 2rem;
    letter-spacing: 0.15rem;
    text-shadow: 2px 2px #bbb;
}

.other-portfolios {
    margin-bottom: 5rem;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-image: linear-gradient(to right, transparent, #141516, transparent);
    border-image-slice: 1;
    border-left: 0;
    border-right: 0;
    text-align: center;
}

.other-portfolios ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.other-portfolios ul li {
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 0 3rem;
}

.other-portfolios ul li a {
    color: #141516;
    padding: 1rem 0;
    font-size: 1.25rem;
    letter-spacing: 2px;
    transition: 0.3s;
}

.other-portfolios ul li a:hover {
    text-decoration: none;
    text-shadow: 1px 3px #aaa;
}

h2 {
    text-transform: none;
    /* text-align: left; */
}

.action-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.action-button {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 1rem 3rem;
    padding: 0.75rem 2rem;
    cursor: pointer;
    letter-spacing: 1px;
}

.action-button:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
}

.action-button.active {
    background-color: #141516;
    color: #fff;
}

#p_wedding-page #wedding-videos {
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .action-button:hover {
        background-color: transparent;
        color: #000;
    }
    .action-button.active:hover {
        background-color: #141516;
        color: #fff;
    }
}
